:root {

    /*Primary Colors*/

    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    /* Netural Colors */
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    /* Paragraph Font Size */

    --paragraphFontSize: 16px;

    /* margin */

    --top-margin: 3em;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-600 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding-left: 0;
    color: var(--wenge-brown);
}


.nutmeg-color {
    color: var(--nutmeg);
}

.centralizar {
    max-width: 60%;
    margin: 4em auto;
}

.imageOmelette {
    width: 100%;
    border-radius: 0.935em;
}

@media screen and (max-width: 23.4375em) {
    .imageOmelette {
        width: 100vw;
    }

}

.fixed-top-margin {
    margin-top: var(--top-margin);
}

.recipe-title {
    color: var(--dark-charcoal);
}

.about-recipe {
    color: var(--wenge-brown);
}

.middleList {
    max-width: 70%;
    margin: 0 auto;
}

.preparationTime {
    color: var(--dark-raspberry);
}

.listInstruction li {
    color: var(--wenge-brown);
}

.list-margin-top li+li {
    margin-top: 1em;
}

.listInstruction li::marker {
    color: var(--dark-raspberry);
}

.ingredients-list,
.instructions-list {
    padding: 1.25em;
}

.ingredients-list li,
.instructions-list li {
    padding-left: 1.25em;
}

.ingredients-list li::marker,
.instructions-list li::marker {
    color: var(--nutmeg);
}


.nutrition-table div {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1.25em auto;
}

@media screen and (max-width: 23.4375em) {
    .nutrition-table div {
        width: 100%;
    }

}